@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  /* .header {
    height: 294px;
  }

  .emblemHeader {
    margin-left: 42px;
    margin-top: 35px;

  } */
}

* {
  color: #000;
  font-family: e-Ukraine;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  /* 175% */
  letter-spacing: -0.32px;
}



html,
body {
  margin: 0;

  height: 100%;
}


a {
  font-family: e-Ukraine;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */

}


.header {
  display: flex;
  flex-direction: column;
  height: 294px;
  width: 100%;
  background-color: #B5BABE;


}


.header-link {
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.footer-link,
.footer-additional {
  text-decoration: none;
  color: #808080;
  font-style: normal;
  font-weight: 400;

}

.footer-link {
  font-size: 14px;
  line-height: 17px;

}

.footer-additional {
  font-size: 13px;
  line-height: 18px;
}


.header-container {
  display: flex;
  flex-direction: row;
  margin: 40px auto 0px auto;
}

.line-header,
.line-footer {
  background-color: #7C7C7C;
  height: 1px;
}

.line-header {
  margin-top: 30px;
  width: 80%;
}

.line-footer {
  width: 100%;

}

.icons-header {
  display: flex;
}

.emblem-header {
  width: 53px;
  height: 53px;
}

.diya-header {
  margin-left: 15px;
  width: 53px;
  height: 53px;
}



.logo-block {
  display: flex;
  margin-left: 32px;

  width: 824px;
  height: 150px;
}

.logo-block .logo {
  width: 150px;
  height: 150px;
  padding: 0px 10px 0 10px;
}

.logo-block .institution-name {
  margin: auto;
  margin-left: 6px;
  width: 648px;
  color: #000;
  font-family: e-Ukraine Head;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 117.647% */
}



.access-settings {
  display: flex;
  justify-content: center;

  height: 30px;
  gap: 10px;
}

.header__navigation {
  display: flex;
  margin: auto;

  width: 1114px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.home__container {
  margin-top: 250px;
  margin-bottom: 250px;
  background-color: rgb(78, 87, 87);

}

#footer-upper {
  padding: 60px;

}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 24px;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .footer-grid {
    padding-left: 20px;
  }
}



section {
  color: #fff;
  padding: 20px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 80px 0;
}

h4 {
  font-size: 1.2rem;
}

.h7 {
  color: #000;
  font-family: e-Ukraine;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.footer-lower {
  display: flex;
  background-color: #000;
  padding: 60px;

}

.footer-emblem {
  height: 80px;
  width: 80px;
  /* margin-left: 60px; */
}

.footer-lower__left {
  display: flex;
  flex-direction: column;
  margin-left: 16px;

}

.footer-lower__left .h7 {
  font-weight: 300;
  color: #fff;
}

.footer-lower__left svg {
  margin: 18px 8px 0px 0px;
}


.footer-lower__right {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  margin-left: 100px;
}


.footer-lower__right .h7 {
  font-weight: 300;
  color: #fff;
}

.footer-email {
  margin-top: 30px;
}

.footer-license {
  margin-top: 60px;

}

.dashboard {
  display: flex;
  flex-direction: row;

}

.dashboard__menu {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.dashboard__menu ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

}

.dashboard__menu ul li {
  display: flex;
  align-items: center;
  margin-left: 11px;
}


.dashboard__menu .h7 {
  line-height: 28px;
  margin-left: 11px;
  margin-right: 10px;
}

.h-line {
  height: 3px;
  background-color: black;
}

.sub-line {

  height: 1px;
  background-color: black;
  margin: 0 0 0 33px;

}

.dashboard__menu .drop-block {
  margin-top: 10px;


}

.management-block {
  flex-grow: 1;

}

.management-panel {
  display: flex;
  background: #E7EEF3;
  height: 50px;
  gap: 42px;
  padding-left: 20px;
  align-items: center;
}




.sidebar-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-label-container svg {
  margin-right: 10px;
}

.management-search {
  background-color: #fff;
  width: 312px;
  height: 30px;
  flex-shrink: 0;

}